@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container-fluid">
<div class="row ContentSpotlight">
    
        <!--TODO remove below col and contents when finished with this section as it is only used for designing-->
        <!--<div class="col-sm-2">
            <div class="container-fluid spotlight-container">
            <div class="row popularVideo">
                <div class="searchResThumbnail" style="background-image: url(../userContent/12/videos/thumbnails/color-palette-picker.jpg);"></div>
            </div>
            <div class="row">
                <h4 class="itemTitle">Title</h4>
                <p class="itemRating">124</p>
            </div>
            </div>
        </div>-->
    
</div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/CustomScripts/AjaxRequest.js")"></script>
    <script src="@Url.Content("~/Scripts/CustomScripts/HomePGScript.js")"></script>
}
